<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>


[[${msg}]]




 <form action="/save" method="post">
     <input type="text" name="data" placeholder="data">
     <input type="text" name="email" placeholder="email">
     <input type="submit" name="" placeholder="" value="Touch Me">


     <ol>
         <li th:each="u:${users}">

         <a th:href="@{'user-'+ ${u.id}}" th:text="${u.name}"></a>

         </li>
     </ol>


      <script src="main.js"></script>


 </form>
</body>
</html>